<head>
  <title>Coffee at Columbia</title>
  <meta name="Description" content="Grab coffee with Columbia students.">
  <meta name="author" content="Parthiban Loganathan">
  <meta name="robots" content="index, follow">
  <meta name="revisit-after" content="3 days">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" sizes="16x16" href="/img/favicon.ico">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
