.overlay-on-parallax {
  z-index: 2;
  height: 400px;
}

.intro-text {
  font-size: 1.3em;
  color: white;
}

.meetings-made {
  width: 100%;
  background: #64B5F6;
  padding: 100px;
  position: absolute;
  left: 0px;
  right: 0px;
  height: 150px;
}

.meetings-made .statistic {
  padding: 20px;
}

.people-home {
  margin-top: 50px;
}

.people-home .person {
  width: 300px;
}
