.overlay-on-parallax {
  z-index: 2;
  height: 400px;
}

.intro-text {
  font-size: 1.3em;
  color: white;
}

.person {
  width: 300px;
  min-width: 300px;
  padding: 0 50px 0 50px; 
}

.person profilepic {
  width: 100px;
}
