.logo {
  position: absolute;
  left:0;
  right:0;
  margin-top: -370px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

.brand-image {
  height: 200px;
}

.brand-title {
  font-family: 'Dancing Script', cursive;
  color: white;
  font-size: 4.5em;
}

.welcome {
  margin: 420px auto 30px auto;
  max-width: 1024px;
  font-size: 1.6em;
}

.meetings-made {
  background: #64B5F6;
  position: absolute;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 120px;
}

.meetings-made .statistic {
  padding-top: 24px;
}

.people-home {
  margin-top: 200px;
}

.people-home .person {
  width: 300px;
}

.people-home .person .profilepic {
  margin-top: -10px;
  height: 280px;
  width: 280px;
}

.people-home .searchbox {
  margin: 50px 0 50px 0;
}

.people-home .person .button {
  width: 30px;
}

.people-home .person .contact-button {
  margin-top: 10px;
}

.recaptcha-box {
  margin: 20px 0 20px 0;
}
