.parallax-container {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 60px;
  width: 100%;
  height: 400px;
}

.parallax-overlay {
  position: absolute;
  margin-top: 4px;
  height: 397px;
  width: 100%;
  left: 0px;
  right: 0px;
  background: black;
  opacity: 0.4;
}
