form.profileupdate {
  padding: 20px;
}

.form.profileupdate textarea {
  height: auto;
}

.form.profileupdate .helptext {
  margin: 20px;
}

.form.profileupdate .photo img {
  height: 250px;
  width: 250px;
}

.form.profileupdate .agreement .card {
  margin: 30px 0 30px 0;
}

.form.profileupdate .gutter {
  width: 15px;
}
