nav a:hover {
  color: white;
  text-decoration: none;  
}

nav a:active {
  color: white;
  text-decoration: none;  
}

nav a:visited {
  color: white;
  text-decoration: none; 
}

.login {
  margin: 100px auto 0 auto;
  width: 400px;
}
