nav a:hover {
  color: white;
  text-decoration: none;  
}

nav a:active {
  color: white;
  text-decoration: none;  
}

nav a:visited {
  color: white;
  text-decoration: none; 
}

.login {
  margin: 50px auto 0 auto;
  width: 400px;
}

.verify {
  margin-top: 50px;
}

.verify .image {
  margin-top: 100px;
  margin: auto;
  size: 300px;
}
